</br>
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 search-bar">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span id="search-query">Consultar Linhas</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu"  >
            <li class="option">
              <a href="#">Consultar Linhas</a>
            </li>
            <li class="option">
              <a href="a">Consultar Previsão de Chegada</a>
            </li>
          </ul>
        </span>
        <input id
        ="tx_termo_pesquisa" type="text" class="form-control search-field" placeholder="Informe uma referência para consulta">
        <span class="input-group-btn">
            <a href="#" id="btn-search" class="btn btn-secondary"><span class="glyphicon glyphicon-search"></span></a>
        </span>
      </div>
      <div class="list-lines">
      </div>
    </div>
  </div>
  <!-- TO DO: change call for the line selected by user
              at moment is fixed for the line 34041 -->
  <!-- <div>
  </br>
      <p class="text-center choosen-line-number"></p>
  </div> -->
  <div class="row">
      <div id="map-container">
          <div id="map-canvas"></div>
        </div>
  </div>
</div>
