<br></br>
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 search-bar">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span id="search-query">Buscar por</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="option">
              <a href="#">Linha</a>
            </li>
            <li class="option">
              <a href="a">Outra opção</a>
            </li>
          </ul>
        </span>
        <input type="text" class="form-control search-field" placeholder="">
        <span class="input-group-btn">
            <a href="#" id="btn-search" class="btn btn-secondary"><span class="glyphicon glyphicon-search"></span></a>
        </span>
      </div>
      <div class="list-lines">
      </div>
    </div>
  </div>
  </br>
  <!-- TO DO: change call for the line selected by user
              at moment is fixed for the line 34041 -->
  <div class="row">
    <div class="col-md-3">
        <button type="button" id="btn-list-bus-position" class="btn btn-primary" >Consulta Posição dos Onibus por linha</button>
    </div>
  </div>
  </br>
  <div class="row">
      <div class="col-md-12">
        <h3 class="pull-left">Mapa Metropolitano - São Paulo</h3>
        <h3 class="pull-right choosen-line-number"></h3>
        <div id="map-container">
          <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>
