<br></br>
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span id="search-query">Buscar por</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="option">
              <a href="#">Linha</a>
            </li>
            <li class="option">
              <a href="a">Outra opção</a>
            </li>
          </ul>
        </span>
        <input type="text" class="form-control" placeholder="">
        <span class="input-group-btn">
            <a href="#" id="btn-search" class="btn btn-secondary"><span class="glyphicon glyphicon-search"></span></a>
        </span>
      </div>
    </div>
  </div>
</div>
