.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  color: #333;
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  &:hover,
  &:focus {
    text-decoration: none;
    color: black;
    background-color: #f5f5f5;
  }
}
